body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: rgb(243, 239, 38);
  padding: 0.5rem;
}
header a {
  color: blue;
  font-weight: bolder;
  text-decoration: none;
  font-size: large;
}
header strong {
  color: chartreuse;
  padding-left: 5px;
  font-size: large;
}
span {
  font-weight: bold;
  font-size: larger;
}
main {
  padding: 0.5rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
  border: 1px rgb(46, 45, 45) solid;
  margin: 1rem;
}
.product img {
  width: 330px;
  height: 355px;
}
.product-info {
  padding: 1rem;
}
